<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="css/toastr.min.css"></link>
        <link rel="stylesheet" href="css/global.css"></link>
        <link rel="stylesheet" href="css/carousel.css"></link>
        <link rel="icon" href="img/favicon.jpg" type="image/x-icon"/>
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/toastr.min.js"></script>
        <script src="js/carousel.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/update.js"></script>
        <script src="js/button.js"></script>
        <script src="/faye/faye.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/konami.min.js"></script>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    </head>    
    <style>
.inputy {
    background-color:<%= @color == 'red' ? '#FFD0F0' : '#CFFFFF' %>
}
.inputt {
    background-color:<%= @color != 'red' ? '#FFD0F0' : '#CFFFFF' %>
}
    </style>
    <body style="height:500px;">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselExampleControls" style="width:100%" class="carousel slide" data-ride="false" data-pause="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                            <div>
                                                <input type="text" data-teamid="461" value="461" data-team-field="1" class="inputy"></input>
                                                <button class="btn btn-info" data-teamid="461" onClick="upDateteamnum(this)" data-team-button="1">Update</button>
                                            </div>
                                            <div>
                                                <input type="text" data-teamid="464" value="464" data-team-field="4" class="inputt"></input>
                                                <button class="btn btn-info" data-teamid="464" onClick="upDateteamnum(this)" data-team-button="4">Update</button>
                                            </div>
                                            <br><br>
                                            <div style="height:195px;width:295px;background-color:<%= @color == 'red' ? '#CF000F' : '#3F51B5' %>">
                                                <center><h3 style="color:white;text-align:center;padding-top:83px"><%= @color == 'red' ? 'Red Alliance' : 'Blue Alliance' %></center></h3>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                            <div>
                                                <input type="text" data-teamid="462" value="462" data-team-field="2" class="inputy"></input>
                                                <button class="btn btn-info" data-teamid="462" onClick="upDateteamnum(this)" data-team-button="2">Update</button>
                                            </div>
                                            <div>
                                                <input type="text" data-teamid="465" value="465" data-team-field="5" class="inputt"></input>
                                                <button class="btn btn-info" data-teamid="465" onClick="upDateteamnum(this)" data-team-button="5">Update</button>
                                            </div>
                                            <br><br>

                                            <br>
                                            Match #
                                            <input class="form-control w-100 text-center" type="text" id="matchNumber" value="<%= @MN %>"></input>
                                            <br>
                                            Event ID
                                            <input class="form-control w-100 text-center" type="text" id="eventID" value="<%= @EV %>"></input>
                                            <br>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                            <div>
                                                <input type="text" data-teamid="463" value="463" data-team-field="3" class="inputy"></input>
                                                <button class="btn btn-info" data-teamid="463" onClick="upDateteamnum(this)" data-team-button="3">Update</button>
                                            </div>
                                            <div>
                                                <input type="text" data-teamid="466" value="466" data-team-field="6" class="inputt"></input>
                                                <button class="btn btn-info" data-teamid="466" onClick="upDateteamnum(this)" data-team-button="6">Update</button>
                                            </div>
                                            <br><br>
                                            <div style="height:195px;width:295px;background-color:<%= @color == 'red' ? '#CF000F' : '#3f51b5' %>">
                                                <h3 style="color:white;text-align:center;padding-top:83px;"><%= @color == 'red' ? 'Red Alliance' : 'Blue Alliance' %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'sandComp', name1: "Auto",name2: "Teleop",teamid: "461"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'startPos', name1: "Level 1",name2: "Level 2",teamid: "461"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-play", label: "Hth Good", id: 'hatch-placed',teamid: "461"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-drop", label: "Hth Bad", id: 'hatch-drop',teamid: "461"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-play", label: "Crg Good", id: 'cargo-placed',teamid: "461"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-drop", label: "Crg Bad", id: 'cargo-drop',teamid: "461"}%>
                                        </div>
                                        <div class="col-sm-4"> 
                                            <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'sandComp', name1: "Auto",name2: "Teleop",teamid: "462"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'startPos', name1: "Level 1",name2: "Level 2",teamid: "462"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-play", label: "Hth Good", id: 'hatch-placed',teamid: "462"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-drop", label: "Hth Bad", id: 'hatch-drop',teamid: "462"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-play", label: "Crg Good", id: 'cargo-placed',teamid: "462"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-drop", label: "Crg Bad", id: 'cargo-drop',teamid: "462"}%>
                                        </div>
                                        <div class="col-sm-4"> 
                                            <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'sandComp', name1: "Auto",name2: "Teleop",teamid: "463"}%>
                                            <%= partial :doublebutsinglechoose, locals: {datapoint: 'startPos', name1: "Level 1",name2: "Level 2",teamid: "463"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-play", label: "Hth Good", id: 'hatch-placed',teamid: "463"}%>
                                            <%= partial :button2, locals: {datapoint: "hatch-drop", label: "Hth Bad", id: 'hatch-drop',teamid: "463"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-play", label: "Crg Good", id: 'cargo-placed',teamid: "463"}%>
                                            <%= partial :button2, locals: {datapoint: "cargo-drop", label: "Crg Bad", id: 'cargo-drop',teamid: "463"}%>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl3", label2: "Cargo Lvl 3", id: "hatch3", id2: "cargo3", teamid: "461"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl2", label2: "Cargo Lvl 2", id: "hatch2", id2: "cargo2", teamid: "461"}%>
                                            <%= partial :rocket, locals: {datapoint: "rcoket", label: "Hatch Lvl1", label2: "Cargo Lvl 1", id: "hatch1", id2: "cargo1", teamid: "461"}%>
                                            <%= partial :button, locals: {datapoint: "defense",name: "Defense?",  teamid: "461"}%>
                                        </div> 
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl3", label2: "Cargo Lvl 3", id: "hatch3", id2: "cargo3", teamid: "462"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl2", label2: "Cargo Lvl 2", id: "hatch2", id2: "cargo2", teamid: "462"}%>
                                            <%= partial :rocket, locals: {datapoint: "rcoket", label: "Hatch Lvl1", label2: "Cargo Lvl 1", id: "hatch1", id2: "cargo1", teamid: "462"}%>
                                            <%= partial :button, locals: {datapoint: "defense",name: "Defense?", teamid: "462"}%>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl3", label2: "Cargo Lvl 3", id: "hatch3", id2: "cargo3", teamid: "463"}%>
                                            <%= partial :rocket, locals: {datapoint: "rocket", label: "Hatch Lvl2", label2: "Cargo Lvl 2", id: "hatch2", id2: "cargo2", teamid: "463"}%>
                                            <%= partial :rocket, locals: {datapoint: "rcoket", label: "Hatch Lvl1", label2: "Cargo Lvl 1", id: "hatch1", id2: "cargo1", teamid: "463"}%>
                                            <%= partial :button, locals: {datapoint: "defense", name: "Defense?", teamid: "463"}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                            <%= partial :rating, locals: {datapoint: 'rating', name1: "PoT",name2: "BoW",name3: "GgG",teamid: "461"}%>
                                            <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "461"}%>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                            <%= partial :rating, locals: {datapoint: 'rating', name1: "PoT",name2: "BoW",name3: "GgG",teamid: "462"}%>
                                            <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "462"}%>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                            <%= partial :rating, locals: {datapoint: 'rating', name1: "PoT",name2: "BoW",name3: "GgG",teamid: "463"}%>
                                            <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "463"}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="app6">
                                <button type="button" onClick="idk()" class="btn btn-dark btn-lg btn-block">Submit</button>
                                <input v-model="message" style="width: 100%;margin:10px;">
                                <script>
var app6 = new Vue({
    el: '#app6',
    data: {
        message: "test1"
    }
})
var client;
$(function() {
    client = new Faye.Client('http://vps.boilerinvasion.org:9292/faye');
});
function idk() {
    var publication = client.publish('/result/red', {text: app6.message });

    publication.then(function() {
        alert('Message received by server!');
    }, function(error) {
        alert('There was a problem: ' + error.message);
    });
    submit();
}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px;padding-top:20px" id="pid">
                <div class="col-sm-2">
                    <button type="button" onclick="gqFunction()" class="btn btn-info btn-block">Prev</button>
                </div>
                <div class="col-sm-8">
                    <center><span id="indicator" class="pre badge badge-primary">Pre</span></center>
                </div>
                <div class="col-sm-2">
                    <button type="button" onclick="qFunction()" class="btn btn-info btn-block">Next</button>
                </div>
            </div>
        </div>
    </body>
</html>
