<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css"</link>
        <link rel="stylesheet" href="css/global.css"</link>
        <link rel="stylesheet" href="css/toastr.min.css"></link>
        <script type="text/javascript" 
                src="http://vps.boilerinvasion.org:9292/faye/client.js">
        </script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/toastr.min.js"></script>
        <script src="js/scoutmaster.js"></script>
        <script src="/faye/faye.js"></script>
        <script>
var client;
$(function() {
    client = new Faye.Client('http://vps.boilerinvasion.org:9292/faye');
    client.subscribe('/result/*', function(message) {console.log(message);} );
});
        </script>

        <meta
                name='viewpoint'
                content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
                />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="carouselExampleControls" style="width:100%" class="carousel slide" data-ride="false" data-pause="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="padding:10px">
                            <div class="row">    
                                <%= partial :begin %>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-6">
                                    <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "461"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "461"}%>
                                    </br>
                                    <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "462"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "462"}%>
                                    </br>
                                    <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "463"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "463"}%>
                                </div>
                                <div class="col-sm-6">
                                    <%= partial :name, locals: {name: "Name",teamid: "464"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "464"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "464"}%>
                                    </br>
                                    <%= partial :name, locals: {name: "Name",teamid: "465"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "465"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "465"}%>
                                    </br>
                                    <%= partial :name, locals: {name: "Name",teamid: "466"}%>
                                    <%= partial :button2, locals: {datapoint: "Foul", label: "Foul", id: 'foul', teamid: "466"} %>
                                    <%= partial :button1, locals: {name: "Fail", teamid: "466"}%>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="padding:10px">
                            <div class="row">    
                                <div class="col-sm-6">
                                    <%= partial :name, locals: {name: "Name",teamid: "461"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "461"}%>
                                    <%= partial :name, locals: {name: "Name",teamid: "462"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "462"}%>
                                    <%= partial :name, locals: {name: "Name",teamid: "463"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "463"}%>
                                </div>
                                <div class="col-sm-6">
                                    <%= partial :name, locals: {name: "Name",teamid: "464"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "464"}%>
                                    <%= partial :name, locals: {name: "Name",teamid: "465"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "465"}%>
                                    <%= partial :name, locals: {name: "Name",teamid: "466"}%>
                                    <%= partial :comments, locals: {datapoint: 'comment', name: "Name", teamid: "466"}%>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" onClick="submit()" style="margin-top:40px" class="btn btn-dark btn-lg btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;padding-top:20px" id="pid">
            <div class="col-sm-2">
                <button type="button" onclick="gqFunction()" class="btn btn-info btn-block">Prev</button>
            </div>
            <div class="col-sm-8">
                <center><span id="indicator" class="pre badge badge-primary">Pre</span></center>
            </div>
            <div class="col-sm-2">
                <button type="button" onclick="qFunction()" class="btn btn-info btn-block">Next</button>
            </div>
        </div>
        </div>
    </body>
