<div class="row">
    <div class="col-sm-6">
        <button id="1" type="button" <%= datas %> data-btn-action onClick="getn(this)" data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= name1 %></button>
        <p id="<%= name1 %>"></p>
    </div>
    <div class="col-sm-6">
        <button id="2" type="button" <%= datas %> data-btn-action onClick="getn(this)" data-teamid="<%= teamid %>" class="single btn btn-light btn-lg btn-block"><%= name2 %></button>
        <p id="<%= name2 %>"></p>
    </div>
</div>
