<div class="col-sm-4"> 
	<%= partial 'partial/name', locals: {name: "Name",teamid: team }%>
	<%= partial 'partial/rating', locals: {datass: "sit-rit",datas: "sit-mid",name1: "N/a",name2: "Auto",name3: "Tele",teamid: team }%>
	<%= partial 'partial/doublebutsinglechoose', locals: {datas: "st-mid",datapoint: 'startPos',name1: "Level 1",name2: "Level 2",teamid: team }%>
	<%= partial 'partial/button2', locals: {label: "Hth Good", id: 'hatchplaced',teamid: team }%>
	<%= partial 'partial/button2', locals: {label: "Hth Bad", id: 'hatch-drop',teamid: team }%>
	<%= partial 'partial/button2', locals: {label: "Crg Good", id: 'cargo-placed',teamid: team }%>
	<%= partial 'partial/button2', locals: {label: "Crg Bad", id: 'cargo-drop',teamid: team }%>
</div>
